/build/
/dist/
/docs/
/.venv/
.idea/
*.suo
*.user
*.sln
*.csproj
*.xproj
*.editorconfig
*.suo
*.user
*.sln
*.csproj
*.xproj
*.pyc
*.swp
*.DS_Store
*.log
*.sqlite
*.db
/api/scripts/
/scripts/
/tests/
/api/database/migrations/
/database/migrations/
/api/database/old_models.py
/database/old_models.py